*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  width: 96%;
  margin: 0 auto;
  background-color: #efefef; }

.row {
  *zoom: 1;
  margin-left: -2.04082%; }
  .row:before, .row:after {
    display: table;
    content: ""; }
  .row:after {
    clear: both; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

/*
.col-1  { width:5.583333333333333%; }
.col-2  { width:14.16666666666667%; }
.col-3  { width:22.75%; }
.col-4  { width:31.33333333333333%; }
.col-5  { width:39.91666666666667%; }
.col-6  { width:48.5%; }
.col-7  { width:57.08333333333333%; }
.col-8  { width:65.66666666666666%; }
.col-9  { width:74.25%; }
.col-10 { width:82.83333333333333%; }
.col-11 { width:91.41666666666666%; }
.col-12 { width:100%; }
*/
.col-1 {
  float: left;
  width: 6.12925%;
  margin-left: 2.04082%; }

.col-2 {
  float: left;
  width: 14.29932%;
  margin-left: 2.04082%; }

.col-3 {
  float: left;
  width: 22.46939%;
  margin-left: 2.04082%; }

.col-4 {
  float: left;
  width: 30.63946%;
  margin-left: 2.04082%; }

.col-5 {
  float: left;
  width: 38.80952%;
  margin-left: 2.04082%; }

.col-6 {
  float: left;
  width: 46.97959%;
  margin-left: 2.04082%; }

.col-7 {
  float: left;
  width: 55.14966%;
  margin-left: 2.04082%; }

.col-8 {
  float: left;
  width: 63.31973%;
  margin-left: 2.04082%; }

.col-9 {
  float: left;
  width: 71.4898%;
  margin-left: 2.04082%; }

.col-10 {
  float: left;
  width: 79.65986%;
  margin-left: 2.04082%; }

.col-11 {
  float: left;
  width: 87.82993%;
  margin-left: 2.04082%; }

.col-12 {
  float: left;
  width: 96%;
  margin-left: 2.04082%; }

@media only screen and (max-width: 489px) {
  .wrapper {
    width: 98%;
    margin: 0 auto; }

  .row {
    margin-left: -49; }

  .col-1 {
    width: 98%;
    margin-bottom: 10px; }

  .col-2 {
    width: 98%;
    margin-bottom: 10px; }

  .col-3 {
    width: 98%;
    margin-bottom: 10px; }

  .col-4 {
    width: 98%;
    margin-bottom: 10px; }

  .col-5 {
    width: 98%;
    margin-bottom: 10px; }

  .col-6 {
    width: 98%;
    margin-bottom: 10px; }

  .col-7 {
    width: 98%;
    margin-bottom: 10px; }

  .col-8 {
    width: 98%;
    margin-bottom: 10px; }

  .col-9 {
    width: 98%;
    margin-bottom: 10px; }

  .col-10 {
    width: 98%;
    margin-bottom: 10px; }

  .col-11 {
    width: 98%;
    margin-bottom: 10px; }

  .col-12 {
    width: 98%;
    margin-bottom: 10px; }

  .col-xs-1 {
    float: left;
    height: 150px;
    width: 6.33333%;
    margin-left: 2%;
    background-color: #ff0000; }

  .col-xs-2 {
    float: left;
    height: 150px;
    width: 14.66667%;
    margin-left: 2%;
    background-color: #ff0000; }

  .col-xs-3 {
    float: left;
    height: 150px;
    width: 23%;
    margin-left: 2%;
    background-color: #ff0000; }

  .col-xs-4 {
    float: left;
    height: 150px;
    width: 31.33333%;
    margin-left: 2%;
    background-color: #ff0000; }

  .col-xs-5 {
    float: left;
    height: 150px;
    width: 39.66667%;
    margin-left: 2%;
    background-color: #ff0000; }

  .col-xs-6 {
    float: left;
    height: 150px;
    width: 48%;
    margin-left: 2%;
    background-color: #ff0000; }

  .col-xs-7 {
    float: left;
    height: 150px;
    width: 56.33333%;
    margin-left: 2%;
    background-color: #ff0000; }

  .col-xs-8 {
    float: left;
    height: 150px;
    width: 64.66667%;
    margin-left: 2%;
    background-color: #ff0000; }

  .col-xs-9 {
    float: left;
    height: 150px;
    width: 73%;
    margin-left: 2%;
    background-color: #ff0000; }

  .col-xs-10 {
    float: left;
    height: 150px;
    width: 81.33333%;
    margin-left: 2%;
    background-color: #ff0000; }

  .col-xs-11 {
    float: left;
    height: 150px;
    width: 89.66667%;
    margin-left: 2%;
    background-color: #ff0000; }

  .col-xs-12 {
    float: left;
    height: 150px;
    width: 98%;
    margin-left: 2%;
    background-color: #ff0000; } }
@media only screen and (min-width: 490px) {
  .wrapper {
    width: 490px; }

  .row {
    margin-left: -10px; }

  .col-1 {
    width: 31.66667px;
    float: left;
    margin-left: 10px; }

  .col-2 {
    width: 73.33333px;
    float: left;
    margin-left: 10px; }

  .col-3 {
    width: 115px;
    float: left;
    margin-left: 10px; }

  .col-4 {
    width: 156.66667px;
    float: left;
    margin-left: 10px; }

  .col-5 {
    width: 198.33333px;
    float: left;
    margin-left: 10px; }

  .col-6 {
    width: 240px;
    float: left;
    margin-left: 10px; }

  .col-7 {
    width: 281.66667px;
    float: left;
    margin-left: 10px; }

  .col-8 {
    width: 323.33333px;
    float: left;
    margin-left: 10px; }

  .col-9 {
    width: 365px;
    float: left;
    margin-left: 10px; }

  .col-10 {
    width: 406.66667px;
    float: left;
    margin-left: 10px; }

  .col-11 {
    width: 448.33333px;
    float: left;
    margin-left: 10px; }

  .col-12 {
    width: 490px;
    float: left;
    margin-left: 10px; }

  .col-s-1 {
    width: 31.66667px;
    float: left;
    margin-left: 10px; }

  .col-s-2 {
    width: 73.33333px;
    float: left;
    margin-left: 10px; }

  .col-s-3 {
    width: 115px;
    float: left;
    margin-left: 10px; }

  .col-s-4 {
    width: 156.66667px;
    float: left;
    margin-left: 10px; }

  .col-s-5 {
    width: 198.33333px;
    float: left;
    margin-left: 10px; }

  .col-s-6 {
    width: 240px;
    float: left;
    margin-left: 10px; }

  .col-s-7 {
    width: 281.66667px;
    float: left;
    margin-left: 10px; }

  .col-s-8 {
    width: 323.33333px;
    float: left;
    margin-left: 10px; }

  .col-s-9 {
    width: 365px;
    float: left;
    margin-left: 10px; }

  .col-s-10 {
    width: 406.66667px;
    float: left;
    margin-left: 10px; }

  .col-s-11 {
    width: 448.33333px;
    float: left;
    margin-left: 10px; }

  .col-s-12 {
    width: 490px;
    float: left;
    margin-left: 10px; } }
@media only screen and (min-width: 740px) {
  .wrapper {
    width: 740px; }

  .row {
    margin-left: -20px; }

  .col-1 {
    width: 43.33333px;
    float: left;
    margin-left: 20px; }

  .col-2 {
    width: 106.66667px;
    float: left;
    margin-left: 20px; }

  .col-3 {
    width: 170px;
    float: left;
    margin-left: 20px; }

  .col-4 {
    width: 233.33333px;
    float: left;
    margin-left: 20px; }

  .col-5 {
    width: 296.66667px;
    float: left;
    margin-left: 20px; }

  .col-6 {
    width: 360px;
    float: left;
    margin-left: 20px; }

  .col-7 {
    width: 423.33333px;
    float: left;
    margin-left: 20px; }

  .col-8 {
    width: 486.66667px;
    float: left;
    margin-left: 20px; }

  .col-9 {
    width: 550px;
    float: left;
    margin-left: 20px; }

  .col-10 {
    width: 613.33333px;
    float: left;
    margin-left: 20px; }

  .col-11 {
    width: 676.66667px;
    float: left;
    margin-left: 20px; }

  .col-12 {
    width: 740px;
    float: left;
    margin-left: 20px; }

  .col-m-1 {
    width: 43.33333px;
    float: left;
    margin-left: 20px; }

  .col-m-2 {
    width: 106.66667px;
    float: left;
    margin-left: 20px; }

  .col-m-3 {
    width: 170px;
    float: left;
    margin-left: 20px; }

  .col-m-4 {
    width: 233.33333px;
    float: left;
    margin-left: 20px; }

  .col-m-5 {
    width: 296.66667px;
    float: left;
    margin-left: 20px; }

  .col-m-6 {
    width: 360px;
    float: left;
    margin-left: 20px; }

  .col-m-7 {
    width: 423.33333px;
    float: left;
    margin-left: 20px; }

  .col-m-8 {
    width: 486.66667px;
    float: left;
    margin-left: 20px; }

  .col-m-9 {
    width: 550px;
    float: left;
    margin-left: 20px; }

  .col-m-10 {
    width: 613.33333px;
    float: left;
    margin-left: 20px; }

  .col-m-11 {
    width: 676.66667px;
    float: left;
    margin-left: 20px; }

  .col-m-12 {
    width: 740px;
    float: left;
    margin-left: 20px; } }
@media only screen and (min-width: 980px) {
  .wrapper {
    width: 980px; }

  .row {
    margin-left: -20px; }

  .col-1 {
    width: 63.33333px;
    float: left;
    margin-left: 20px; }

  .col-2 {
    width: 146.66667px;
    float: left;
    margin-left: 20px; }

  .col-3 {
    width: 230px;
    float: left;
    margin-left: 20px; }

  .col-4 {
    width: 313.33333px;
    float: left;
    margin-left: 20px; }

  .col-5 {
    width: 396.66667px;
    float: left;
    margin-left: 20px; }

  .col-6 {
    width: 480px;
    float: left;
    margin-left: 20px; }

  .col-7 {
    width: 563.33333px;
    float: left;
    margin-left: 20px; }

  .col-8 {
    width: 646.66667px;
    float: left;
    margin-left: 20px; }

  .col-9 {
    width: 730px;
    float: left;
    margin-left: 20px; }

  .col-10 {
    width: 813.33333px;
    float: left;
    margin-left: 20px; }

  .col-11 {
    width: 896.66667px;
    float: left;
    margin-left: 20px; }

  .col-12 {
    width: 980px;
    float: left;
    margin-left: 20px; }

  .col-l-1 {
    width: 63.33333px;
    float: left;
    margin-left: 20px; }

  .col-l-2 {
    width: 146.66667px;
    float: left;
    margin-left: 20px; }

  .col-l-3 {
    width: 230px;
    float: left;
    margin-left: 20px; }

  .col-l-4 {
    width: 313.33333px;
    float: left;
    margin-left: 20px; }

  .col-l-5 {
    width: 396.66667px;
    float: left;
    margin-left: 20px; }

  .col-l-6 {
    width: 480px;
    float: left;
    margin-left: 20px; }

  .col-l-7 {
    width: 563.33333px;
    float: left;
    margin-left: 20px; }

  .col-l-8 {
    width: 646.66667px;
    float: left;
    margin-left: 20px; }

  .col-l-9 {
    width: 730px;
    float: left;
    margin-left: 20px; }

  .col-l-10 {
    width: 813.33333px;
    float: left;
    margin-left: 20px; }

  .col-l-11 {
    width: 896.66667px;
    float: left;
    margin-left: 20px; }

  .col-l-12 {
    width: 980px;
    float: left;
    margin-left: 20px; } }
@media only screen and (min-width: 1220px) {
  .wrapper {
    width: 1220px; }

  .row {
    margin-left: -20px; }

  .col-1 {
    float: left;
    width: 83.33333px;
    margin-left: 20px; }

  .col-2 {
    float: left;
    width: 186.66667px;
    margin-left: 20px; }

  .col-3 {
    float: left;
    width: 290px;
    margin-left: 20px; }

  .col-4 {
    float: left;
    width: 393.33333px;
    margin-left: 20px; }

  .col-5 {
    float: left;
    width: 496.66667px;
    margin-left: 20px; }

  .col-6 {
    float: left;
    width: 600px;
    margin-left: 20px; }

  .col-7 {
    float: left;
    width: 703.33333px;
    margin-left: 20px; }

  .col-8 {
    float: left;
    width: 806.66667px;
    margin-left: 20px; }

  .col-9 {
    float: left;
    width: 910px;
    margin-left: 20px; }

  .col-10 {
    float: left;
    width: 1013.33333px;
    margin-left: 20px; }

  .col-11 {
    float: left;
    width: 1116.66667px;
    margin-left: 20px; }

  .col-12 {
    float: left;
    width: 1220px;
    margin-left: 20px; } }
.row {
  margin-bottom: 15px; }

.col-1 {
  padding: 10px;
  background-color: #ffcc00;
  text-align: center; }

.col-2 {
  padding: 10px;
  background-color: #ffcc00;
  text-align: center; }

.col-3 {
  padding: 10px;
  background-color: #ffcc00;
  text-align: center; }

.col-4 {
  padding: 10px;
  background-color: #ffcc00;
  text-align: center; }

.col-5 {
  padding: 10px;
  background-color: #ffcc00;
  text-align: center; }

.col-6 {
  padding: 10px;
  background-color: #ffcc00;
  text-align: center; }

.col-7 {
  padding: 10px;
  background-color: #ffcc00;
  text-align: center; }

.col-8 {
  padding: 10px;
  background-color: #ffcc00;
  text-align: center; }

.col-9 {
  padding: 10px;
  background-color: #ffcc00;
  text-align: center; }

.col-10 {
  padding: 10px;
  background-color: #ffcc00;
  text-align: center; }

.col-11 {
  padding: 10px;
  background-color: #ffcc00;
  text-align: center; }

.col-12 {
  padding: 10px;
  background-color: #ffcc00;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
